:local(.resolved) {
  color: #666;
  text-decoration: line-through
}

:local(.box) {
    display: -webkit-box;
    padding: 0.2rem;
    height: 0.6rem;
}

:local(.box input) {
    display: block;
    -webkit-box-flex:1;
}

:local(.box button) {
    display: block;
    -webkit-box-flex: 0;
}

:global(ul) {
    margin: 0 0.2rem;
}

:global(ul li) {
    height: 0.48rem;
    line-height: 0.48rem;
}
